<h1>Bienvenue sur The Gossip Project</h1>
<h2>Vous trouverez ici la liste des gossips :</h2>
<%= link_to "Créer un Gossip", new_gossip_path, class: 'btn btn-primary btn-sm'%>
<br /> <br />
<% Gossip.all.each do |gossip| %>
  <div class="card border-primary mb-3" >
  <div class="card-header">
    <%= gossip.title.upcase %>
  </div>
  <div class="card-body">
    <p class="card-text">Ecrit par <%= gossip.user.first_name %></p>
    <a href="<%= gossip_path(gossip.id) %>" class="btn btn-primary">Gossip</a>
    <a href="/user/<%= gossip.user_id %> " class="btn btn-dark">Auteur</a>
  </div>
</div>
<% end %>






