<h1>Bienvenue sur The Gossip Project</h1>
<h2>Vous trouverez ici la liste des gossips :</h2>
<%= link_to "Créer un Gossip", new_gossip_path, class: 'btn btn-primary btn-sm' %>
<br /> <br />
<% @gossips.each do |gossip| %>
<div class="list-group mx-auto mb-3" style="width: 900px">
  <a href="<%= gossip_path(gossip.id) %>" class="list-group-item list-group-item-action ">
    <div class="d-flex w-100 justify-content-between ">
      <h5 class="mb-1"><%= gossip.title.upcase %></h5>
      <small><%= gossip.created_at %></small>
    </div>
    <p class="mb-1">Ecrit par <%= gossip.user.first_name %></p>
    <small class="mt-2"><a href="<%= user_path(gossip.user_id) %> " class="btn btn-outline-primary">Auteur</a></small>
    
    <% if current_user == gossip.user %>
    <small class="mt-2"><a href="<%= edit_gossip_path(gossip.id)%> " class="btn btn-light">Edit</a></small>
    <% end %>
    
  </a>
</div>
<% end %>






