<h1>The Gossip <span class="badge badge-info">Show</span></h1>

<h2><%= @gossip.user.first_name %> <%= @gossip.user.last_name %></h2>
<p>Ville : <%=link_to @gossip.user.city.name, city_path(@gossip.user.city_id) %></p>

<h3><%= @gossip.title.upcase %></h3>
<p><%= @gossip.content %></p>
<p>Créer le : <%= @gossip.created_at %></p>

<p>Pour en savoir plus sur l' auteur c'est <%= link_to "ici", user_path(@gossip.user_id)%>

<div class="mb-4"><%= link_to "Laisser un commentaire", new_comment_path, class: "btn btn-outline-success" %></div>

<div><%= link_to "Supprimer", gossip_path(@gossip.id), class: "btn btn-danger", method: "delete" %></div>


<% @comments.each do |comment| %>
<div class="list-group mx-auto mb-3" style="width: 400px">
  <div class="list-group-item list-group-item-action ">
    <div class="d-flex w-100 justify-content-between ">
      <h5 class="mb-1"><%= comment.username %></h5>
      <small><%= comment.created_at %></small>
    </div>
    <p class="mb-1"><%= comment.content %></p>
  </div>
   
   
  
</div>
<% end %>