<h1>The Gossip <span class="badge badge-info">City</span></h1>
<h2><%= @city.name %></h2>
<% @gossips.each do |gossip| %>
<div class="list-group mx-auto mb-3" style="width: 900px">
  <a href="<%= gossip_path(gossip.id) %>" class="list-group-item list-group-item-action ">
    <div class="d-flex w-100 justify-content-between ">
      <h5 class="mb-1"><%= gossip.title.upcase %></h5>
      <small><%= gossip.created_at %></small>
    </div>
    <p class="mb-1">Ecrit par <%= gossip.user.first_name %></p>
    <small class="mt-2"><a href="/user/<%= gossip.user.id %> " class="btn btn-outline-primary">Auteur</a>
    <a href="<%= edit_gossip_path(gossip.id)%> " class="btn btn-light">Edit</a></small>
  </a>
</div>
<% end %>
