<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>

  <body class="text-center">
    <header>
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="<%= gossips_path %>">Home</a>
        <a class="navbar-brand" href="<%= gossips_path %>">Gossips</a>
        <a class="navbar-brand" href="<%= teams_path %>">Team <span class="sr-only"></span></a>
        <a class="navbar-brand"" href="<%= contacts_path %>">Contact <span class="sr-only"></span></a>
      </nav>
    </header>

    <% if flash[:success] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:success] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>  
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:error] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>  
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
  
    
    
 
